<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html";charset=utf-8>
        <style type="text/css">
        * {
            padding:0;
            margin:0;

        }
            ul ,li{
                list-style: none;
            }
        #wrap {
            width: 1200px;
        }

        #topbar{
            height: 50px;
            width:100%;
            border-bottom:  1px solid #d9d9d9;
            position:fixed;
            top:52px;
        }
        .toolbar a{
            font-size: 16px !important;
        }

        #topbar .toolbar {
            width: 400px;
            margin: 0  auto;
        }

        #content {
            margin-top: 100px;

        }

        a {
            color: rgba(0,0,0,.85);
            text-decoration: none;
        }
        .current {
            color:#1890ff;
        }


        .doc-content  img {
            margin-top:3px;
            width:600px;
            height:700px;
            border:solid 3px #d9d9d9;
        }

        .doc-menu ul {
            width: 350px !important;
            min-height: 485px;
            border-right: 1px solid #d9d9d9;
        }
        .white{
            height: 100px;
            width: 350px;
        }

            .doc-menu li {
                font-size:14px;
                box-sizing: unset !important;
                cursor: pointer;
                height: 25px;
                line-height: 25px;
                padding: 7px 0;
                border-bottom: 1px solid #d9d9d9;
            }
          .doc-menu a{
            font-size:17px !important;
            font-weight: bold;
            color: blue;
            text-decoration:underline;

          }
          .doc-menu {
              margin-left:130px;
              position:fixed;
              top:102px;
          }


        .doc-wrap .doc-menu{
        }
        .doc-content img {
            width:800px;
            height:1200px;
        }
        .doc-content{
            margin-left:76px;
            width:820px;
            position:fixed;
            top:110px;
            left:500px;
            height: 760px;
            overflow: auto;
        }

        .doc-content li{
            display: none;
        }

        #fxw {
            display: none;
        }

            li a {
                font-size: 16px !important;
                display: block;
                color: darkred;
                text-decoration: none;
            }
            .under-line {
                text-decoration:underline;
                color:blue;
            }
        </style>
        <title>表格下载</title>
        <script src="~/Content/static/js/jquery-3.3.1.min.js"></script>

        <script>
            
            $(function(){

                $("#btn-xw").click(function(){
                    $("#xw").show()
                    $("#fxw").hide()    
                    $(this).addClass('current').siblings().removeClass('current')
                })

                $("#btn-fxw").click(function(){
                     $("#fxw").show()
                     $("#xw").hide()   
                     $(this).addClass('current').siblings().removeClass('current') 
                })


                $(".doc-menu ul li").click(function(){

                        var m = $(this).data('m').substr($(this).data('m').indexOf("-")+1 )
                        $(this).parent().parent().siblings().find('li.m-' + m).show().siblings().hide();
                        $(this).addClass("current").siblings().removeClass('current')

                })

            })
            
        </script>
    </head>


    <body>
        <div id="wrap"><!--第一层，整体-->
            <div id="topbar"><!--第二层，顶部-->             
                <div class="toolbar">
                    <a id="btn-xw"  class="current" href="javascript:;" style="margin-right:30px;">新吴区组团表格</a>
                    <a id="btn-fxw" href="javascript:;">非新吴区组团表格</a>
                </div>       
            </div>
            <div id="content"><!--第二层，主体-->
                <div id="xw" class="doc-wrap"><!--第三层，新吴区组团-->
                    <div class="doc-menu"><!--第四层，列表-->
                        <ul id="">    
                            <li data-m="l-1" class="current">因公出国（境）信息公示</li>
                            <li data-m="l-2">出访活动日程表</li>
                            <li data-m="l-3" >因公临时出国（境）表格</li>
                            <li data-m="l-4">出访人员名单</li> 
                            <li data-m="l-5">无锡市因公出国（境）经费审核表</li>
                            <li data-m="l-6">因公临时出国人员备案表</li>
                            <li data-m="l-7">因公出国（境）团组承诺书</li>
                            <li data-m="l-8">因公出国（境）人员国家安全事项承诺书</li>
                            <li data-m="l-9">因公临时出国（境）团组信息反馈表</li>
                            <li data-m="l-10">因公出国（境）人员国家安全事项报备表</li>
                        </ul>
                        <div class="white"></div>

                        <div class="download">
                            <a href="~/Content/files/download/true/新吴区组团.docx" id="">全部下载：新吴区组团出访申请表</a>
                        </div>
                    </div>
                    <div class="doc-content"><!--第四层，图片及下载-->
                        <ul id="" >
                            <li class="m-1" style="display: block">
                                <a href="~/Content/files/download/true/因公出国（境）信息公示.docx" download="因公出国（境）信息公示.docx"><span class="decoation:none">下载：</span><span class="under-line">因公出国（境）信息公示</span></a>
                                <img src="~/Content/files/image/true/因公出国（境）信息公示.png" />
                            </li>
                            <li class="m-2">
                                <a href="~/Content/files/download/true/出访活动日程表.docx" download="出访活动日程表.docx"><span>下载：</span><span class="under-line">出访活动日程表</span></a>
                                <img src="~/Content/files/image/true/出访活动日程表.png" /><img src="~/Content/files/image/true/出访活动日程表(1).png" />
                            </li>
                            <li class="m-3">
                                <a href="~/Content/files/download/true/因公临时出国（境）表格.docx" download="因公临时出国（境）表格.docx"><span>下载：</span><span class="under-line">因公临时出国（境）表格</span></a>
                                <img src="~/Content/files/image/true/因公临时出国（境）表格.png" />
                            </li>
                            <li class="m-4">
                                <a href="~/Content/files/download/true/出访人员名单.docx" download="出访人员名单.docx"><span>下载：</span><span class="under-line">出访人员名单表格</span></a>
                                <img src="~/Content/files/image/true/出访人员名单.png" />
                            </li>
                            <li class="m-5">
                                <a href="~/Content/files/download/true/无锡市因公出国（境）经费审核表.docx" download="无锡市因公出国（境）经费审核表.docx"><span>下载：</span><span class="under-line">无锡市因公出国（境）经费审核表</span></a>
                                <img src="~/Content/files/image/true/无锡市因公出国（境）经费审核表.png" />
                            </li>
                            <li class="m-6">
                                <a href="~/Content/files/download/true/因公临时出国人员备案表.docx" download="因公临时出国人员备案表.docx"><span>下载：</span><span class="under-line">因公临时出国人员备案表</span></a>
                                <img src="~/Content/files/image/true/因公临时出国人员备案表.png" />
                            </li>
                            <li class="m-7">
                                <a href="~/Content/files/download/true/因公出国（境）团组承诺书.docx" download="因公出国（境）团组承诺书.docx"><span>下载：</span><span class="under-line">因公出国（境）团组承诺书</span></a>
                                <img src="~/Content/files/image/true/因公出国（境）团组承诺书.png" />
                            </li>
                            <li class="m-8">
                                <a href="~/Content/files/download/true/因公出国（境）人员国家安全事项承诺书.docx" download="因公出国（境）人员国家安全事项承诺书.docx"><span>下载：</span><span class="under-line">因公出国（境）人员国家安全事项承诺书</span></a>
                                <img src="~/Content/files/image/true/因公出国（境）人员国家安全事项承诺书.png" />
                            </li>
                            <li class="m-9">
                                <a href="~/Content/files/download/true/因公临时出国（境）团组信息反馈表.docx" download="因公临时出国（境）团组信息反馈表.docx"><span>下载：</span><span class="under-line">因公临时出国（境）团组信息反馈表</span></a>
                                <img src="~/Content/files/image/true/因公临时出国（境）团组信息反馈表.png" />
                            </li>
                            <li class="m-10">
                                <a href="~/Content/files/download/true/因公出国（境）人员国家安全事项报备表.docx" download="因公出国（境）人员国家安全事项报备表.docx"><span>下载：</span><span class="under-line">因公出国（境）人员国家安全事项报备表</span></a>
                                <img src="~/Content/files/image/true/因公出国（境）人员国家安全事项报备表.png" /><img src="~/Content/files/image/true/因公出国（境）人员国家安全事项报备表(1).png" />
                            </li>
                        </ul>


                    </div>
                </div>
                <div  id="fxw" class="doc-wrap" ><!--第三层，非新吴区组团-->
                    <div class="doc-menu"><!--第四层，列表-->
                        <ul id="">
                            <li data-m="l-1" class="current" >因公出国（境）信息公示</li>
                            <li data-m="l-2">出访活动日程表</li>
                            <li data-m="l-3">非新吴区组团出访申报表</li>
                            <li data-m="l-4">出访人员名单（非新吴）</li> 
                            <li data-m="l-5">非本市组团出访预报表</li>
                            <li data-m="l-6">出访人员名单（非本市）</li>
                            <li data-m="l-7">无锡市因公出国（境）经费审核表</li>
                            <li data-m="l-8">因公临时出国人员备案表</li>
                            <li data-m="l-9">因公出国（境）团组承诺书</li>
                            <li data-m="l-10">因公出国（境）人员国家安全事项承诺书</li>
                            <li data-m="l-11">因公临时出国（境）团组信息反馈表</li>
                            <li data-m="l-12">因公出国（境）人员国家安全事项报备表</li>
                        </ul>
                        <div class="white"></div>
                        <div class="download">
                             <a href="~/Content/files/download/false/非新吴区、非本市组团出访申报表.docx">全部下载：非新吴区组团出访申请表</a>
                        </div>
                    </div>
                    <div class="doc-content"><!--第四层，图片及下载-->
                        <ul id="" >
                            <li class="m-1" style="display: block">
                                <a href="~/Content/files/download/false/因公出国（境）信息公示.docx" download="因公出国（境）信息公示.docx"><span>下载：</span><span class="under-line">因公出国（境）信息公示</span></a>
                                <img src="~/Content/files/image/false/因公出国（境）信息公示.png" />
                            </li>
                            <li class="m-2">
                                <a href="~/Content/files/download/false/出访活动日程表.docx" download="出访活动日程表.docx"><span>下载：</span><span class="under-line">出访活动日程表</span></a>
                                <img src="~/Content/files/image/false/出访活动日程表.png" /><img src="~/Content/files/image/false/出访活动日程表(1).png" />
                            </li>
                            <li class="m-3">
                                <a href="~/Content/files/download/false/非新吴区组团出访申报表.docx" download="非新吴区组团出访申报表.docx"><span>下载：</span><span class="under-line">非新吴区组团出访申报表</span></a>
                                <img src="~/Content/files/image/false/非新吴区组团出访申报表.png" />
                            </li>
                            <li class="m-4">
                                <a href="~/Content/files/download/false/出访人员名单1.docx" download="出访人员名单1.docx"><span>下载：</span><span class="under-line">出访人员名单（非新吴）</span></a>
                                <img src="~/Content/files/image/false/出访人员名单1.png" />
                            </li>
                            <li class="m-5">
                                <a href="~/Content/files/download/false/非本市组团出访预报表.docx" download="非本市组团出访预报表.docx"><span>下载：</span><span class="under-line">非本市组团出访预报表</span></a>
                                <img src="~/Content/files/image/false/非本市组团出访预报表.png" /><img src="~/Content/files/image/false/非本市组团出访预报表(1).png" />
                            </li>
                            <li class="m-6">
                                <a href="~/Content/files/download/false/出访人员名单2.docx" download="出访人员名单2.docx"><span>下载：</span><span class="under-line">出访人员名单（非本市）</span></a>
                                <img src="~/Content/files/image/false/出访人员名单2.png" /><img src="~/Content/files/image/false/出访人员名单2(1).png" />
                            </li>
                            <li class="m-7">
                                <a href="~/Content/files/download/false/无锡市因公出国（境）经费审核表.docx" download="无锡市因公出国（境）经费审核表.docx"><span>下载：</span><span class="under-line">无锡市因公出国（境）经费审核表</span></a>
                                <img src="~/Content/files/image/false/无锡市因公出国（境）经费审核表.png" />
                            </li>
                            <li class="m-8">
                                <a href="~/Content/files/download/false/因公临时出国人员备案表.docx" download="因公临时出国人员备案表.docx"><span>下载：</span><span class="under-line">因公临时出国人员备案表</span></a>
                                <img src="~/Content/files/image/false/因公临时出国人员备案表.png" />
                            </li>
                            <li class="m-9">
                                <a href="~/Content/files/download/false/因公出国（境）团组承诺书.docx" download="因公出国（境）团组承诺书.docx"><span>下载：</span><span class="under-line">因公出国（境）团组承诺书</span></a>
                                <img src="~/Content/files/image/false/因公出国（境）团组承诺书.png" />
                            </li>
                            <li class="m-10">
                                <a href="~/Content/files/download/false/因公出国（境）人员国家安全事项承诺书.docx" download="因公出国（境）人员国家安全事项承诺书.docx"><span>下载：</span><span class="under-line">因公出国（境）人员国家安全事项承诺书</span></a>
                                <img src="~/Content/files/image/false/因公出国（境）人员国家安全事项承诺书.png" />
                            </li>
                            <li class="m-11">
                                <a href="~/Content/files/download/false/因公临时出国（境）团组信息反馈表.docx" download="因公临时出国（境）团组信息反馈表.docx"><span>下载：</span><span class="under-line">因公临时出国（境）团组信息反馈表</span></a>
                                <img src="~/Content/files/image/false/因公临时出国（境）团组信息反馈表.png" />
                            </li>
                            <li class="m-12">
                                <a href="~/Content/files/download/false/因公出国（境）人员国家安全事项报备表.docx" download="因公出国（境）人员国家安全事项报备表.docx"><span>下载：</span><span class="under-line">因公出国（境）人员国家安全事项报备表</span></a>
                                <img src="~/Content/files/image/false/因公出国（境）人员国家安全事项报备表.png" /><img src="~/Content/files/image/false/因公出国（境）人员国家安全事项报备表(1).png" />
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>