<?xml version="1.0" encoding="utf-8" ?>
<!-- 此文件为Appkiz的应用程序的初始化数据配置文件。每当此文件被修改后，再次用户登录时系统将自动载入此文件并更新至数据库相关表中 -->

<App Code="YGS" Name="因公出国"  Icon="Content/images/appicon.png" Descr="因公出国" Version="1.0.0.0">
  <Menus>
    <Menu Code="YGS_Home" Name="我的申请" Url="/Home/Index" Permission="" />
    <Menu Code="YGS_Demo" Name="申请样例" Url="/Home/Demo" Permission="" />
    <Menu Code="YGS_Download" Name="表格下载" Url="/Home/Download" Permission="" />
    <Menu Code="YGS_Check" Name="申请列表" Url="/Home/Check" Permission="canCheck" />
    <Menu Code="YGS_Cred" Name="证件管理" Url="/Home/Cred" Permission="canCheck" />
    <Menu Code="YGS_Sheet" Name="表格维护" Url="/Home/Sheet" Permission="canCheck" />
  </Menus>
  <AppPermission>
    <Permission Code="canCheck" Name="党办审核" Descr="审核申请" />
  </AppPermission>
  <ObjectPermission>
  </ObjectPermission>
  <Widgets>
  </Widgets>
  <SYS_Config>
  </SYS_Config>
</App>