<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
	<title>@Appkiz.Library.Runtime.Product.GetTitleName()</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
        #root{
            top: 44;
        }

        #root {
            bottom: -44;
        }
    </style>
	<script src="/Frame/js/appkiz_header.js.aspx" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/js/DatePicker/WdatePicker.js")" type="text/javascript"></script>
    
	@try
	{
		@RenderSection("header")
	}
	catch { }

</head>
<body>
	<div id="appkiz-frame-left-panel"></div>
	<div id="appkiz-frame-right-panel">
		<div id="appkiz-frame-top-wrap"><div id="appkiz-frame-top-panel"></div></div>
		@RenderBody()
	</div>
</body>

</html>
